.row{
    height:10px;
}
.row div{    
    width: 10px;
    height: 10px;    
    display: inline-block;
    vertical-align: top;
}

.row div.inactive{
    background: red;
}

.row div.active{
    background: #99ff;
}